[sensu-client]
localhost ansible_ssh_host=127.0.0.1

[sensu-client:vars]
sensu_rabbitmq_host=127.0.0.1
sensu_rabbitmq_port=5671
sensu_rabbitmq_vhost=/sensu
sensu_rabbitmq_user=sensu
sensu_rabbitmq_password=mypass
ruby_version=2.1.2

[vagrant:vars]
box_url=https://vagrant-kvm-boxes-si.s3.amazonaws.com/trusty64-kvm-20140418.box
box_name=trusty64
playbook_path=apache-bench/apache-bench.yml
