{
  "title": "{{ item }}",
  "services": {
    "query": {
      "list": {
        "0": {
          "id": 0,
          "color": "#449ad6",
          "alias": "2xx",
          "pin": false,
          "type": "lucene",
          "enable": true,
          "query": "@log_name:\"{{ item }}.nginx.access\" AND status:(>=200 AND <300)"
        },
        "1": {
          "id": 1,
          "color": "#59cb8a",
          "alias": "3xx",
          "pin": false,
          "type": "lucene",
          "enable": true,
          "query": "@log_name:\"{{ item }}.nginx.access\" AND status:(>=300 AND <400)"
        },
        "2": {
          "id": 2,
          "color": "#d9a831",
          "alias": "4xx",
          "pin": false,
          "type": "lucene",
          "enable": true,
          "query": "@log_name:\"{{ item }}.nginx.access\" AND status:(>=400 AND <500)"
        },
        "3": {
          "id": 3,
          "color": "#bc3539",
          "alias": "5xx",
          "pin": false,
          "type": "lucene",
          "enable": true,
          "query": "@log_name:\"{{ item }}.nginx.access\" AND status:(>=500 AND <600)"
        },
        "4": {
          "id": 4,
          "color": "#7f7f7f",
          "alias": "request_time",
          "pin": false,
          "type": "lucene",
          "enable": true,
          "query": "@log_name:\"{{ item }}.nginx.access\""
        }
      },
      "ids": [
        0,
        1,
        2,
        3,
        4
      ]
    },
    "filter": {
      "list": {
        "0": {
          "type": "time",
          "field": "@timestamp",
          "from": "now-24h",
          "to": "now",
          "mandate": "must",
          "active": true,
          "alias": "",
          "id": 0
        }
      },
      "ids": [
        0
      ]
    }
  },
  "rows": [
    {
      "title": "fluentd",
      "height": "300px",
      "editable": false,
      "collapse": false,
      "collapsable": false,
      "panels": [
        {
          "span": 12,
          "editable": false,
          "type": "histogram",
          "loadingEditor": false,
          "mode": "count",
          "time_field": "@timestamp",
          "value_field": null,
          "x-axis": true,
          "y-axis": true,
          "scale": 1,
          "y_format": "none",
          "grid": {
            "max": 50,
            "min": 0
          },
          "queries": {
            "mode": "selected",
            "ids": [
              0,
              1,
              2,
              3
            ]
          },
          "annotate": {
            "enable": false,
            "query": "*",
            "size": 20,
            "field": "_type",
            "sort": [
              "_score",
              "desc"
            ]
          },
          "auto_int": false,
          "resolution": 100,
          "interval": "5m",
          "intervals": [
            "auto",
            "1s",
            "1m",
            "5m",
            "10m",
            "30m",
            "1h",
            "3h",
            "12h",
            "1d",
            "1w",
            "1y"
          ],
          "lines": false,
          "fill": 0,
          "linewidth": 0,
          "points": false,
          "pointradius": 5,
          "bars": true,
          "stack": true,
          "spyable": false,
          "zoomlinks": false,
          "options": false,
          "legend": true,
          "show_query": true,
          "interactive": false,
          "legend_counts": true,
          "timezone": "browser",
          "percentage": false,
          "zerofill": true,
          "derivative": false,
          "tooltip": {
            "value_type": "cumulative",
            "query_as_alias": true
          },
          "title": "status code"
        },
        {
          "span": 12,
          "editable": false,
          "type": "histogram",
          "loadingEditor": false,
          "mode": "mean",
          "time_field": "@timestamp",
          "value_field": "request_time",
          "x-axis": true,
          "y-axis": true,
          "scale": 1,
          "y_format": "none",
          "grid": {
            "max": 0.1,
            "min": 0
          },
          "queries": {
            "mode": "selected",
            "ids": [
              4
            ]
          },
          "annotate": {
            "enable": false,
            "query": "*",
            "size": 20,
            "field": "_type",
            "sort": [
              "_score",
              "desc"
            ]
          },
          "auto_int": false,
          "resolution": 100,
          "interval": "1m",
          "intervals": [
            "auto",
            "1s",
            "1m",
            "5m",
            "10m",
            "30m",
            "1h",
            "3h",
            "12h",
            "1d",
            "1w",
            "1y"
          ],
          "lines": true,
          "fill": 1,
          "linewidth": 1,
          "points": false,
          "pointradius": 5,
          "bars": false,
          "stack": false,
          "spyable": false,
          "zoomlinks": false,
          "options": false,
          "legend": true,
          "show_query": true,
          "interactive": false,
          "legend_counts": false,
          "timezone": "browser",
          "percentage": false,
          "zerofill": true,
          "derivative": false,
          "tooltip": {
            "value_type": "cumulative",
            "query_as_alias": true
          },
          "title": "request time",
          "scaleSeconds": false
        }
      ],
      "notice": false
    }
  ],
  "editable": false,
  "failover": false,
  "index": {
    "interval": "day",
    "pattern": "[nginx-]YYYY.MM.DD",
    "default": "_all",
    "warm_fields": false
  },
  "style": "light",
  "panel_hints": false,
  "pulldowns": [
    {
      "type": "query",
      "collapse": true,
      "notice": false,
      "enable": true,
      "query": "*",
      "pinned": true,
      "history": [],
      "remember": 10
    },
    {
      "type": "filtering",
      "collapse": true,
      "notice": true,
      "enable": true
    }
  ],
  "nav": [
    {
      "type": "timepicker",
      "collapse": false,
      "notice": false,
      "enable": true,
      "status": "Stable",
      "time_options": [
        "24h"
      ],
      "refresh_intervals": [
        "1m"
      ],
      "timefield": "@timestamp",
      "now": true,
      "filter_id": 0
    }
  ],
  "loader": {
    "save_gist": false,
    "save_elasticsearch": false,
    "save_local": false,
    "save_default": false,
    "save_temp": false,
    "save_temp_ttl_enable": true,
    "save_temp_ttl": "30d",
    "load_gist": false,
    "load_elasticsearch": false,
    "load_elasticsearch_size": 20,
    "load_local": false,
    "hide": false
  },
  "refresh": "1m"
}
