{
  "title": "kibana",
  "services": {
    "query": {
      "list": {
        "0": {
          "query": "*",
          "alias": "",
          "color": "#7EB26D",
          "id": 0,
          "pin": false,
          "type": "lucene",
          "enable": true
        }
      },
      "ids": [
        0
      ]
    },
    "filter": {
      "list": {
        "0": {
          "type": "time",
          "field": "@timestamp",
          "from": "now-24h",
          "to": "now",
          "mandate": "must",
          "active": true,
          "alias": "",
          "id": 0
        }
      },
      "ids": [
        0
      ]
    }
  },
  "rows": [
    {
      "title": "sensu",
      "height": "600px",
      "editable": false,
      "collapse": false,
      "collapsable": false,
      "panels": [
        {
          "error": false,
          "span": 4,
          "editable": false,
          "type": "text",
          "loadingEditor": false,
          "mode": "markdown",
          "content": "###### SERVERS\n\n{% for host in groups['sensu-client'] %}- [{{ host }}](index.html#/dashboard/file/{{ host }}.json) ({{ hostvars[host]['ansible_ssh_host'] }})\n{% endfor %}\n###### RUBY ON RAILS\n\n{% for host in groups['rails'] %}- [{{ host }}](index.html#/dashboard/file/rails_{{ host }}.json)\n{% endfor %}\n###### OTHERS\n\n- [load-tests](index.html#/dashboard/file/load-tests.json)\n- [switches](index.html#/dashboard/file/switches.json)\n",
          "style": {},
          "title": "dashboards"
        },
        {
          "error": false,
          "span": 8,
          "editable": false,
          "type": "table",
          "loadingEditor": false,
          "size": 15,
          "pages": 5,
          "offset": 0,
          "sort": [
            "@timestamp",
            "desc"
          ],
          "overflow": "height",
          "fields": [
            "@timestamp",
            "client",
            "check",
            "output"
          ],
          "highlight": [],
          "sortable": true,
          "header": true,
          "paging": true,
          "field_list": false,
          "all_fields": false,
          "trimFactor": 200,
          "localTime": false,
          "timeField": "@timestamp",
          "spyable": false,
          "queries": {
            "mode": "all",
            "ids": [
              0
            ]
          },
          "style": {
            "font-size": "9pt"
          },
          "normTimes": true,
          "title": "alerts"
        }
      ],
      "notice": false
    }
  ],
  "editable": false,
  "failover": false,
  "index": {
    "interval": "day",
    "pattern": "[sensu-handler-]YYYY.MM.DD",
    "default": "_all",
    "warm_fields": false
  },
  "style": "dark",
  "panel_hints": false,
  "pulldowns": [
    {
      "type": "query",
      "collapse": true,
      "notice": false,
      "enable": true,
      "query": "*",
      "pinned": true,
      "history": [],
      "remember": 10
    },
    {
      "type": "filtering",
      "collapse": true,
      "notice": true,
      "enable": true
    }
  ],
  "nav": [
    {
      "type": "timepicker",
      "collapse": false,
      "notice": false,
      "enable": true,
      "status": "Stable",
      "time_options": [
        "24h"
      ],
      "refresh_intervals": [
        "1m"
      ],
      "timefield": "@timestamp",
      "now": true,
      "filter_id": 0
    }
  ],
  "loader": {
    "save_gist": false,
    "save_elasticsearch": false,
    "save_local": false,
    "save_default": false,
    "save_temp": false,
    "save_temp_ttl_enable": true,
    "save_temp_ttl": "30d",
    "load_gist": false,
    "load_elasticsearch": false,
    "load_elasticsearch_size": 20,
    "load_local": false,
    "hide": false
  },
  "refresh": "1m"
}