{
  "client": {
    "name": "{{inventory_hostname}}",
    "address": "{{ansible_ssh_host}}",
    "subscriptions": [ "all", "system"{{sensu_subscriptions}} ],
    "keepalive": {
      "thresholds": {
        "warning": 120,
        "critical": 180
      },
      "handlers": [ "slack"{{sensu_handlers}} ],
      "refresh": 1800
    }
  }
}
