VAGRANTFILE_API_VERSION = '2'

Vagrant.configure VAGRANTFILE_API_VERSION do |config|
  1.upto({{instance_num}}) do |i|
    config.vm.define "bench-#{i}" do |bench|
      bench.vm.hostname = "bench-#{i}"
      bench.vm.box = 'ubuntu/trusty64'
      bench.vm.network :public_network, bridge: 'eth1', ip: "192.168.11.3#{i}"
    end
  end

  config.vm.provider :virtualbox do |domain|
    domain.cpus = 1
    domain.memory = 1024
  end

  config.vm.provision :ansible do |ansible|
    ansible.playbook = '{{ansible_env.HOME}}/ansible-playbooks/provision/provision.yml'
  end
end
