Vagrant.configure '2' do |config|
  config.vm.hostname = 'instance-{{item}}'
  config.vm.box = '{{box_name}}'
  config.vm.network :public_network, dev: 'br0', mode: 'bridge', ip: '192.168.11.3{{item}}'

  config.vm.provider :libvirt do |domain|
    domain.memory = 512
    domain.cpus = 2
    domain.volume_cache = 'writeback'
  end

  config.vm.provision 'ansible' do |ansible|
    ansible.playbook = '{{ansible_env.HOME}}/ansible-playbooks/{{playbook_path}}'
  end
end
